<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT aboutUs ANY>
<!ATTLIST aboutUs id ID #REQUIRED>
<!ELEMENT articleItem ANY>
<!ATTLIST articleItem id ID #REQUIRED>
<!ELEMENT articlesMain ANY>
<!ATTLIST articlesMain id ID #REQUIRED>
<!ELEMENT completedProjects ANY>
<!ATTLIST completedProjects id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT initiatedProjects ANY>
<!ATTLIST initiatedProjects id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT members ANY>
<!ATTLIST members id ID #REQUIRED>
<!ELEMENT message ANY>
<!ATTLIST message id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
<!ELEMENT projectMain ANY>
<!ATTLIST projectMain id ID #REQUIRED>
<!ELEMENT sitemap ANY>
<!ATTLIST sitemap id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>

]>
<root id="-1">
  <homePage id="2095" key="a3fbd636-eca6-4afb-b3b6-fc66473f7700" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-02-18T21:34:46" updateDate="2016-03-27T15:16:59" nodeName="Home Page" urlName="home-page" path="-1,2095" isDoc="" nodeType="2084" creatorName="Tobias Skjødt" writerName="Tobias Skjødt" writerID="0" template="2083" nodeTypeAlias="homePage">
    <hideFromNavigation>0</hideFromNavigation>
    <siteTitle><![CDATA[Aarhus Web Developer Corporation]]></siteTitle>
    <mainContent><![CDATA[<p><strong>Introduction </strong>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
<div class="rc">
<h2 class="why"><span>Why do we use it?</span></h2>
<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
</div>
<p> </p>
<div style="clear: both;">
<div class="lc">
<h2 class="where"><span>Where does it come from?</span></h2>
<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
</div>
<div class="rc">
<h2 class="getsome"><span>Where can I get some?</span></h2>
<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
</div>
</div>]]></mainContent>
    <footer><![CDATA[This is the footer....]]></footer>
    <articlesMain id="2096" key="b5023444-803c-4138-a969-881642b310b5" parentID="2095" level="2" creatorID="0" sortOrder="0" createDate="2016-02-18T21:35:26" updateDate="2016-03-24T13:07:14" nodeName="Articles" urlName="articles" path="-1,2095,2096" isDoc="" nodeType="2088" creatorName="Tobias Skjødt" writerName="Tobias Skjødt" writerID="0" template="2087" nodeTypeAlias="articlesMain">
      <hideFromNavigation>0</hideFromNavigation>
      <articleBodyText><![CDATA[<p>Article body text random here...</p>]]></articleBodyText>
      <articleTitle><![CDATA[Article Title here]]></articleTitle>
      <articleItem id="2097" key="85c36b49-3802-4ba1-aca0-ae986c7d2e5e" parentID="2096" level="3" creatorID="0" sortOrder="0" createDate="2016-02-18T21:35:50" updateDate="2016-03-24T13:08:10" nodeName="How to get into coding..." urlName="how-to-get-into-coding" path="-1,2095,2096,2097" isDoc="" nodeType="2090" creatorName="Tobias Skjødt" writerName="Tobias Skjødt" writerID="0" template="2089" nodeTypeAlias="articleItem">
        <hideFromNavigation>0</hideFromNavigation>
        <articleTitle><![CDATA[The first thing you wanna do when start coding]]></articleTitle>
        <articleContent><![CDATA[<p><strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>]]></articleContent>
      </articleItem>
      <articleItem id="2098" key="f9cadedd-5084-430e-93ff-5f416e2d0468" parentID="2096" level="3" creatorID="0" sortOrder="1" createDate="2016-02-18T21:36:19" updateDate="2016-03-24T13:13:13" nodeName="Designing going from beginner to Pro" urlName="designing-going-from-beginner-to-pro" path="-1,2095,2096,2098" isDoc="" nodeType="2090" creatorName="Tobias Skjødt" writerName="Tobias Skjødt" writerID="0" template="2089" nodeTypeAlias="articleItem">
        <hideFromNavigation>0</hideFromNavigation>
        <articleTitle><![CDATA[Designing going from beginner to Pro]]></articleTitle>
        <articleContent><![CDATA[<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>]]></articleContent>
      </articleItem>
      <articleItem id="2099" key="bfd14cf5-9020-45cd-b36b-10934a0976f4" parentID="2096" level="3" creatorID="0" sortOrder="2" createDate="2016-02-18T21:36:42" updateDate="2016-03-24T13:13:42" nodeName="Keep the coffee warm while working" urlName="keep-the-coffee-warm-while-working" path="-1,2095,2096,2099" isDoc="" nodeType="2090" creatorName="Tobias Skjødt" writerName="Tobias Skjødt" writerID="0" template="2089" nodeTypeAlias="articleItem">
        <hideFromNavigation>0</hideFromNavigation>
        <articleTitle><![CDATA[Keep the coffee warm while working]]></articleTitle>
        <articleContent><![CDATA[<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>]]></articleContent>
      </articleItem>
      <articleItem id="2132" key="5c4ac798-efcc-4001-8ba7-ef4051f6db1e" parentID="2096" level="3" creatorID="2" sortOrder="3" createDate="2016-03-08T14:25:31" updateDate="2016-03-24T13:14:19" nodeName="Be the best at what you do - by Tim" urlName="be-the-best-at-what-you-do-by-tim" path="-1,2095,2096,2132" isDoc="" nodeType="2090" creatorName="Tim Hansson" writerName="Tobias Skjødt" writerID="0" template="2089" nodeTypeAlias="articleItem">
        <hideFromNavigation>0</hideFromNavigation>
        <articleTitle><![CDATA[Be the best at what you do - by Tim]]></articleTitle>
        <articleContent><![CDATA[<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>]]></articleContent>
      </articleItem>
    </articlesMain>
    <projectMain id="2100" key="8c38fbe6-3bee-48a2-aca0-d64343e25462" parentID="2095" level="2" creatorID="0" sortOrder="1" createDate="2016-02-19T12:07:18" updateDate="2016-03-24T13:25:45" nodeName="Project Web" urlName="project-web" path="-1,2095,2100" isDoc="" nodeType="2092" creatorName="Tobias Skjødt" writerName="Tobias Skjødt" writerID="0" template="2091" nodeTypeAlias="projectMain">
      <hideFromNavigation>0</hideFromNavigation>
      <projectsBodyText><![CDATA[<p>This is where all the projects are shown</p>]]></projectsBodyText>
      <projectsTitle><![CDATA[Web development Projects]]></projectsTitle>
      <projectItem id="2101" key="ea34b7b1-b538-45c2-b94f-ef5c26e9c0d2" parentID="2100" level="3" creatorID="0" sortOrder="0" createDate="2016-02-19T12:07:52" updateDate="2016-03-23T22:07:31" nodeName="Developing the HTML" urlName="developing-the-html" path="-1,2095,2100,2101" isDoc="" nodeType="2094" creatorName="Tobias Skjødt" writerName="Tobias Skjødt" writerID="0" template="2093" nodeTypeAlias="projectItem">
        <hideFromNavigation>0</hideFromNavigation>
        <projectDescription><![CDATA[<p>Here we write about the HTML that we added</p>]]></projectDescription>
        <status>1007</status>
        <projectTitle><![CDATA[HTML content]]></projectTitle>
      </projectItem>
      <projectItem id="2102" key="a4557f0b-b470-44f8-9577-6aace51c6c52" parentID="2100" level="3" creatorID="0" sortOrder="1" createDate="2016-02-19T12:08:34" updateDate="2016-03-23T14:20:54" nodeName="Developing the CSS" urlName="developing-the-css" path="-1,2095,2100,2102" isDoc="" nodeType="2094" creatorName="Tobias Skjødt" writerName="Tobias Skjødt" writerID="0" template="2093" nodeTypeAlias="projectItem">
        <hideFromNavigation>0</hideFromNavigation>
        <projectDescription><![CDATA[<p>Here we write about the CSS we have done...</p>]]></projectDescription>
        <status>1009</status>
        <projectTitle><![CDATA[Adding the CSS]]></projectTitle>
      </projectItem>
      <projectItem id="2103" key="5718454f-c402-4b40-a727-ca35302dec54" parentID="2100" level="3" creatorID="0" sortOrder="2" createDate="2016-02-19T12:09:16" updateDate="2016-03-23T14:20:54" nodeName="Developing the JavaScript" urlName="developing-the-javascript" path="-1,2095,2100,2103" isDoc="" nodeType="2094" creatorName="Tobias Skjødt" writerName="Tobias Skjødt" writerID="0" template="2093" nodeTypeAlias="projectItem">
        <hideFromNavigation>0</hideFromNavigation>
        <projectDescription><![CDATA[<p>Here we write about the JavaScript we added...</p>]]></projectDescription>
        <status>1008</status>
        <projectTitle><![CDATA[JS content]]></projectTitle>
      </projectItem>
      <projectItem id="2104" key="ef2f886f-35dd-4d8d-a882-f0f10026bbb7" parentID="2100" level="3" creatorID="0" sortOrder="3" createDate="2016-02-19T12:09:54" updateDate="2016-03-23T14:20:54" nodeName="Developing the jQuery" urlName="developing-the-jquery" path="-1,2095,2100,2104" isDoc="" nodeType="2094" creatorName="Tobias Skjødt" writerName="Tobias Skjødt" writerID="0" template="2093" nodeTypeAlias="projectItem">
        <hideFromNavigation>0</hideFromNavigation>
        <projectDescription><![CDATA[<p>Here we add jquery stuff ...</p>]]></projectDescription>
        <status>1007</status>
        <projectTitle><![CDATA[jQuery content]]></projectTitle>
      </projectItem>
      <projectItem id="2111" key="dfad955e-5818-49c2-9ce9-fd62e4a5bcad" parentID="2100" level="3" creatorID="0" sortOrder="4" createDate="2016-02-25T12:59:12" updateDate="2016-03-23T14:20:54" nodeName="Developing for AngularJS" urlName="developing-for-angularjs" path="-1,2095,2100,2111" isDoc="" nodeType="2094" creatorName="Tobias Skjødt" writerName="Tobias Skjødt" writerID="0" template="2093" nodeTypeAlias="projectItem">
        <hideFromNavigation>0</hideFromNavigation>
        <projectDescription><![CDATA[<p>This is a description of Angular JS ...</p>]]></projectDescription>
        <status>1009</status>
        <projectTitle><![CDATA[AngularJS 101]]></projectTitle>
      </projectItem>
      <projectItem id="2112" key="8b5c7fa0-6b04-4500-ad8d-829da6309771" parentID="2100" level="3" creatorID="0" sortOrder="5" createDate="2016-02-25T12:59:42" updateDate="2016-03-23T14:20:54" nodeName="Developing Python" urlName="developing-python" path="-1,2095,2100,2112" isDoc="" nodeType="2094" creatorName="Tobias Skjødt" writerName="Tobias Skjødt" writerID="0" template="2093" nodeTypeAlias="projectItem">
        <hideFromNavigation>0</hideFromNavigation>
        <projectDescription><![CDATA[<p>This is a description of Python ...</p>]]></projectDescription>
        <status>1009</status>
        <projectTitle><![CDATA[Python language]]></projectTitle>
      </projectItem>
      <projectItem id="2113" key="01aa12f2-f3b8-40fe-a3cd-e5848f5305b6" parentID="2100" level="3" creatorID="0" sortOrder="6" createDate="2016-02-25T13:00:21" updateDate="2016-03-23T14:20:54" nodeName="Develop for Cloud Computing" urlName="develop-for-cloud-computing" path="-1,2095,2100,2113" isDoc="" nodeType="2094" creatorName="Tobias Skjødt" writerName="Tobias Skjødt" writerID="0" template="2093" nodeTypeAlias="projectItem">
        <hideFromNavigation>0</hideFromNavigation>
        <projectDescription><![CDATA[<p>This is a description of cloud computing...</p>]]></projectDescription>
        <status>1009</status>
        <projectTitle><![CDATA[Clouds everywhere]]></projectTitle>
      </projectItem>
      <projectItem id="2163" key="fc6cbb0f-48e8-4f0a-b2bf-769175189c0b" parentID="2100" level="3" creatorID="0" sortOrder="7" createDate="2016-03-11T11:55:19" updateDate="2016-03-23T14:20:54" nodeName="Project for Active members only" urlName="project-for-active-members-only" path="-1,2095,2100,2163" isDoc="" nodeType="2094" creatorName="Tobias Skjødt" writerName="Tobias Skjødt" writerID="0" template="2093" nodeTypeAlias="projectItem">
        <hideFromNavigation>0</hideFromNavigation>
        <status>1009</status>
        <projectTitle><![CDATA[active members only]]></projectTitle>
      </projectItem>
      <projectItem id="2175" key="7e6b0c33-4a7b-43d0-956f-2f7a7fe88cf1" parentID="2100" level="3" creatorID="0" sortOrder="8" createDate="2016-03-23T14:03:10" updateDate="2016-03-23T14:20:54" nodeName="Second active member project" urlName="second-active-member-project" path="-1,2095,2100,2175" isDoc="" nodeType="2094" creatorName="Tobias Skjødt" writerName="Tobias Skjødt" writerID="0" template="2093" nodeTypeAlias="projectItem">
        <hideFromNavigation>0</hideFromNavigation>
        <projectDescription><![CDATA[<p>project project second for active members only</p>]]></projectDescription>
        <status>1008</status>
        <projectTitle><![CDATA[second active project]]></projectTitle>
      </projectItem>
      <projectItem id="2185" key="dcee7fa3-4db5-4f88-8277-a5da634f3e41" parentID="2100" level="3" creatorID="0" sortOrder="9" createDate="2016-03-24T00:58:03" updateDate="2016-03-24T00:58:06" nodeName="Gulp project" urlName="gulp-project" path="-1,2095,2100,2185" isDoc="" nodeType="2094" creatorName="Tobias Skjødt" writerName="Tobias Skjødt" writerID="0" template="2093" nodeTypeAlias="projectItem">
        <hideFromNavigation>0</hideFromNavigation>
        <projectDescription><![CDATA[<p>trying to use Gulp for the first time !</p>]]></projectDescription>
        <status>1007</status>
        <projectTitle><![CDATA[First project with Gulp]]></projectTitle>
      </projectItem>
    </projectMain>
    <aboutUs id="2107" key="c762ef03-5048-4c7d-9588-0f84b5307e29" parentID="2095" level="2" creatorID="0" sortOrder="2" createDate="2016-02-20T16:23:43" updateDate="2016-06-17T17:51:51" nodeName="About Us" urlName="about-us" path="-1,2095,2107" isDoc="" nodeType="2106" creatorName="Tobias Skjødt" writerName="Tobias Skjødt" writerID="0" template="2105" nodeTypeAlias="aboutUs" isDraft="">
      <umbracoNaviHide>0</umbracoNaviHide>
      <grid><![CDATA[{
  "name": "Full Width Article",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "Aarhus Web Developer Cooperation",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "8e14a172-9c5f-69e5-fefc-61c7adb604c5"
        },
        {
          "name": "Image",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2186,
                    "image": "/media/1005/1369810769_514081309_1-custom-web-design-development-company-hyderabad-hi-tech-city.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "497969dc-dc87-e547-c848-8ebd3a3b85e5"
        },
        {
          "name": "Column",
          "areas": [
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><span style=\"color: #181818; font-family: Merriweather, Georgia, serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 21px; orphans: auto; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px; display: inline !important; float: none; background-color: #ffffff;\">―<span class=\"Apple-converted-space\"> Steve Krug</span></span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": "“If there's one thing you learn by working on a lot of different Web sites, it's that almost any design idea--no matter how appallingly bad--can be made usable in the right circumstances, with enough effort.”",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>- Trish Parr</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": "“If you think math is hard try web design.”",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>- Paul Cookson</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": "“a website without SEO is like a car with no gas”",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "249a2826-0c21-3880-db2f-4cb82dfc4e6e"
        }
      ]
    }
  ]
}]]></grid>
    </aboutUs>
    <sitemap id="2116" key="c3542e52-9507-47ba-b2ca-3113f0f2497f" parentID="2095" level="2" creatorID="0" sortOrder="3" createDate="2016-02-25T13:54:18" updateDate="2016-03-23T14:20:54" nodeName="Sitemap" urlName="sitemap" path="-1,2095,2116" isDoc="" nodeType="2115" creatorName="Tobias Skjødt" writerName="Tobias Skjødt" writerID="0" template="2114" nodeTypeAlias="sitemap">
      <hideFromNavigation>0</hideFromNavigation>
    </sitemap>
    <contactPage id="2120" key="de744def-2c87-43d1-9f3d-42107025fd7a" parentID="2095" level="2" creatorID="0" sortOrder="4" createDate="2016-02-26T11:59:14" updateDate="2016-03-23T14:20:54" nodeName="Contact Us" urlName="contact-us" path="-1,2095,2120" isDoc="" nodeType="2118" creatorName="Tobias Skjødt" writerName="Tobias Skjødt" writerID="0" template="2117" nodeTypeAlias="contactPage">
      <hideFromNavigation>0</hideFromNavigation>
      <message id="2129" key="78cec321-b6e1-4351-8c5a-849327097acc" parentID="2120" level="3" creatorID="0" sortOrder="0" createDate="2016-03-04T11:48:31" updateDate="2016-03-23T14:20:54" nodeName="here to learn" urlName="here-to-learn" path="-1,2095,2120,2129" isDoc="" nodeType="2127" creatorName="Tobias Skjødt" writerName="Tobias Skjødt" writerID="0" template="0" nodeTypeAlias="message">
        <message><![CDATA[dsadsa]]></message>
        <email><![CDATA[tobias.sk@gmail.com]]></email>
        <messagename><![CDATA[Tobias]]></messagename>
        <subject><![CDATA[here to learn]]></subject>
      </message>
      <message id="2131" key="49f2f71a-7ebd-421c-9c47-2077050b0241" parentID="2120" level="3" creatorID="0" sortOrder="1" createDate="2016-03-04T11:57:05" updateDate="2016-03-23T14:20:54" nodeName="here to study" urlName="here-to-study" path="-1,2095,2120,2131" isDoc="" nodeType="2127" creatorName="Tobias Skjødt" writerName="Tobias Skjødt" writerID="0" template="0" nodeTypeAlias="message">
        <message><![CDATA[work work]]></message>
        <email><![CDATA[tobias.sk@gmail.com]]></email>
        <messagename><![CDATA[Tobias]]></messagename>
        <subject><![CDATA[here to study]]></subject>
      </message>
    </contactPage>
    <login id="2153" key="b9f4f40d-b099-4bd0-9428-1223c38d595a" parentID="2095" level="2" creatorID="0" sortOrder="5" createDate="2016-03-09T11:52:25" updateDate="2016-03-28T20:30:53" nodeName="Login" urlName="login" path="-1,2095,2153" isDoc="" nodeType="2152" creatorName="Tobias Skjødt" writerName="Tobias Skjødt" writerID="0" template="2150" nodeTypeAlias="login">
      <umbracoNaviHide>0</umbracoNaviHide>
    </login>
    <members id="2172" key="b9266e82-fd9f-4a98-96c5-bd7f635b089b" parentID="2095" level="2" creatorID="0" sortOrder="7" createDate="2016-03-23T10:58:56" updateDate="2016-03-24T00:00:19" nodeName="Members" urlName="members" path="-1,2095,2172" isDoc="" nodeType="2171" creatorName="Tobias Skjødt" writerName="Tobias Skjødt" writerID="0" template="2170" nodeTypeAlias="members">
      <hideFromNavigation>0</hideFromNavigation>
    </members>
    <initiatedProjects id="2183" key="a3a11f56-4639-4865-9cd0-9fd05df25f73" parentID="2095" level="2" creatorID="0" sortOrder="8" createDate="2016-03-23T22:02:33" updateDate="2016-03-24T11:34:32" nodeName="Initiated Projects" urlName="initiated-projects" path="-1,2095,2183" isDoc="" nodeType="2180" creatorName="Tobias Skjødt" writerName="Tobias Skjødt" writerID="0" template="2179" nodeTypeAlias="initiatedProjects">
      <title><![CDATA[Initiated Projects]]></title>
    </initiatedProjects>
    <completedProjects id="2184" key="abc76f3f-dffc-4e4a-a89b-3ba8968edbab" parentID="2095" level="2" creatorID="0" sortOrder="9" createDate="2016-03-23T22:17:05" updateDate="2016-03-28T20:27:43" nodeName="Completed Projects" urlName="completed-projects" path="-1,2095,2184" isDoc="" nodeType="2182" creatorName="Tobias Skjødt" writerName="Tobias Skjødt" writerID="0" template="2181" nodeTypeAlias="completedProjects">
      <title><![CDATA[Completed Projects]]></title>
    </completedProjects>
    <textPage id="2187" key="0899c45f-42c8-4e59-aa40-ceab7f9bede2" parentID="2095" level="2" creatorID="0" sortOrder="10" createDate="2016-03-28T20:16:56" updateDate="2016-03-28T20:29:34" nodeName="Forbidden Page" urlName="forbidden-page" path="-1,2095,2187" isDoc="" nodeType="2086" creatorName="Tobias Skjødt" writerName="Tobias Skjødt" writerID="0" template="2085" nodeTypeAlias="textPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <header><![CDATA[Forbidden Access]]></header>
      <mainContent><![CDATA[<p>forbidden...</p>]]></mainContent>
    </textPage>
  </homePage>
</root>